<script>

function selectChange(coords, e) {
  console.log(coords.pos);
  var imgSrc = "/cropped/<%= local_name %>?w=" +
    coords.pos.w + "&h=" + coords.pos.h + "&x=" + coords.pos.x + "&y=" + coords.pos.y;
  var imageCropped = document.getElementById("cropped");
  imageCropped.src = imgSrc;
  var linkZoomed = document.getElementById("btnZoomed");
  linkZoomed.href = imgSrc + "&zoom=true&download=true";
  var linkCSV = document.getElementById("btnCSV");
  linkCSV.href = imgSrc + "&csv=true";
}

window.onload = function() {
  const cropper = Jcrop.attach('image', {
    aspectRatio: 1
  });

  cropper.listen('crop.change', selectChange);
};

</script>
<div class="container-fluid">
  <div class="row">
    <form action="upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept="image/*" onchange="this.form.submit();">
    </form>
  </div>

  <div class="row">
    <div class="col-sm">
      <% if local_name %>
        <img id="image" class="img-fluid" src="uploads/<%= local_name %>" />
      <% end %>
    </div>
    <div class="col-sm">
      <img id="cropped" class="img-fluid" />
      <a id="btnZoomed" class="btn btn-primary" href="#" role="button">Download zoomed</a>
      <a id="btnCSV" class="btn btn-primary" href="#" role="button">Download CSV</a>
    <div>
  </div>
</div>