<html>
    <head>
        <title>Image Upload</title>
        <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
        <script src="https://unpkg.com/jcrop"></script>
    </head>
    <body>
        <h1>Upload Image</h1>
        
        <%= yield %>
    </body>
</html>
